* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #121212;
    font: arial;
    color: white;
    padding-bottom: 80px;
}

.sidebar {
    position: relative;
    width: 200px;
    background: #d33f3f;
    padding: 20px;
    height: 300px;
}

.main {
    flex: 1;
    padding: 30px;
}

input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 20px;
    background: grey;
    color: rgb(255, 255, 255);
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    color: rgb(229, 223, 223);
    background-color: #e75858;
    cursor: pointer;
}

.song-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.song-card {
    width: 160px;
    background: #e75858;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.song-card img {
    width: 100%;
    border-radius: 4px;
}

.song-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.song-artist {
    font-size: 12px;
    color: #080404;          
    margin-top: 4px;
}

.player-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: #e75858;
    border-top: 1px solid rgb(35, 35, 198);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-info img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 15px;
}